@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto+Slab:wght@100&display=swap');

.rocketImage {
  width: 15rem;
}

.rocketDiv {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.rocketBtn {
  width: 8rem;
  padding: 5px;
  color: #fff;
  background: rgb(7, 90, 244);
  outline: 5rem;
  border: none;
  border-radius: 3px;
}

.reserve {
  padding: 5px;
}
